:root {
  --white: #fff;
  --black: #000;

  /* Primary colors*/
  --primary-1: #d07a1c;
  --primary-2: #e79e4f;
  --primary-3: #e1b98e;
  --primary-4: #f8d9b7;
  --primary-5: #fcf0e3;

  /* Neutral colors */
  --neutral-1: #2c2c2c;
  --neutral-2: #434343;
  --neutral-3: #94868b;
  --neutral-4: #d9cfd3;
  --neutral-5: #f2ecee;

  /* Accent-blue colors */
  --accent-1: #2b8379;
  --accent-2: #19a596;
  --accent-3: #7fd1c7;
  --accent-4: #7fd1c7;
  --accent-5: #d0f3ef;
}

body {
  font-family: "Open-Sans", sans-serif;
}

.btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 40px;
  border: 0;
  transition: background-color 200ms, color 200ms;
}

.btn-default {
  color: var(--white);
  background-color: var(--primary-1);
}

.btn-default:hover,
.btn-outline:hover {
  color: var(--white);
  background-color: var(--primary-2);
  text-decoration: none;
}

.btn-default:active,
.btn-outline:active {
  color: var(--primary-1);
  background-color: var(--primary-4);
}

.btn-default[disabled],
.btn-outline[disabled] {
  color: var(--primary-4);
  background-color: var(--primary-5);
  cursor: default;
}