:root {
  --white: #fff;
  --black: #000;

  --primary-1: #c47e35;
  --primary-2: #dca15d;
  --primary-3: #dabb94;
  --primary-4: #f3dabc;
  --primary-5: #faf1e5;

  --neutral-1: #2c2c2c;
  --neutral-2: #434343;
  --neutral-3: #94868b;
  --neutral-4: #d9cfd3;
  --neutral-5: #f2ecee;

  --accent-1: #458179;
  --accent-2: #4da296;
  --accent-3: #8dd8cf;
  --accent-4: #92cfc7;
  --accent-5: #d7f2ef;
}

body {
  margin: 0;
  font-family: "Open-Sans", sans-serif;
}

h1 {
  margin: 50px 0 30px 0;
  font-weight: 400;
}